.img-thumbnail2 {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 40%;
    height: auto;
}
.tab {
    text-indent: 50px;
}

.img-smaller {
    max-width: 40%;
    max-height: 200px
}

div {
    
  
  
  .div1 {
    background: red;
  }
  
  .div2 {
    background: yellow;
  }
  
  .div3 {
    background: green;
  }
}